* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    background-color: #111;
    color: #fff;
}

h2 {
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 10px;
    background-color: #0066ff;
    z-index: 10;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    opacity: 0.75;
}

a:active {
    opacity: 0.5;
}

#me {
    position: relative;
    border: 5px solid #0066ff;
    width: 50%;
    max-width: 200px;
    margin: 10px;
    filter: grayscale();
}

.nav-btn {
    filter: invert();
}

.full-page {
    scroll-snap-align: start;
    scroll-margin-block-start: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    min-height: 94vh;
}

.full-page p span {
    color: #0066ff;
    font-weight: bold;
    font-size: large;
}

.portfolio-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 50px;

}

.portfolio-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border: 2px solid #fff;
    margin: 10px;
    padding: 10px;
    width: 100%;
    max-width: 350px;
    height: 100px;
    transition: ease-in-out;
    filter: brightness(1);
    transition-duration: 0.25s;
}

.portfolio-item:hover {
    margin-left: 0px;
}

.portfolio-item div:first-child {
    width: 250px;
    height: 100%;
    border-right: 1px solid #fff;
    margin-right: 10px;
    background-color: #0066ff;
    padding: 5px;
    font-size: small;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.portfolio-item div:first-child p {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.portfolio-item div:first-child p img {
    margin: 2px;
    padding: 3px;
    border: 2px solid transparent;
    filter: invert(1);
}

.portfolio-item div:first-child p img:hover {
    border: 2px solid #111;
}

.portfolio-item div:nth-child(2) {
    width: 100%;
    height: 100%;

}

.portfolio-item:hover {
    filter: brightness(0.75)
}

.portfolio-item:active {
    filter: brightness(0.5);
}

.portfolio-item .label {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 2px;
    color: #111;
    font-size: smaller;
    font-weight: bold;
    border: 0.5px solid #fff;
    background-color: #fff;
}


.contact-links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    margin-top: 50px;
    max-width: 500px;
}

.contact-links li {
    list-style: none;
    margin: 15px 0;
}

.contact-links li a {
    color: #fff;
    font-size: large;
    border: 1px solid #fff;
    padding: 10px;
}

.wrapper {
    display: inline-flex;
    width: 100%;
    max-width: 1200px;
    justify-content: center;

}

.wrapper .static-text {
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
}

.wrapper .dynamic-texts li {
    color: #0066ff;
    list-style: none;
    font-size: 30px;
    font-weight: 600;
    line-height: 50px;
    position: relative;
    top: 0;
    animation: slide 10s steps(4) infinite;
}

.wrapper .dynamic-texts {
    margin-left: 15px;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
}

.wrapper .dynamic-texts li span {
    position: relative;
}

.wrapper .dynamic-texts li span::after {
    content: "";
    position: absolute;
    left: 0;
    padding: 4px 0;
    height: 100%;
    width: 100%;
    background-color: #111;
    border-left: 2px solid #0066ff;
    animation: typing 2.5s steps(10) infinite;
}

#intro a img {
    filter: invert();
    margin-right: 10px;
    width: 30px
}

#intro a {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: xx-smaller;
    bottom: 10px;
    right: 10px;
    width: 100px;
    padding: 10px;
    border: 1px solid #fff;
    color: #fff;
}

@keyframes typing {
    100% {
        left: 100%;
        margin: 0;
    }
}

@keyframes slide {
    100% {
        top: -200px;
    }
}